.editor-note {
  color: red;
  border: 1px solid black;
  width: 500px;
}

html {
  font-size: 24px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Nunito', sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: black;
  color: white;
}

h1 {
  margin: 0;
  padding: 20px 0;
  font-size:60px;
  /*text-align: center;*/
  /*text-shadow: 20px 20px 5px black;*/
}

h2 {
  font-size:50px;
  text-align: center;
}

h3 {
  font-size:40px;
  text-align: center;
}

h4 {
  font-size:30px;
  text-align: center;
}

#myimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: rgba(127, 127, 127, .4);
  padding: 20px 20px 20px 20px;
  border: 5px solid black;
  text-align: center;
}

ul {
    text-align: left;
    list-style-position: inside;
}



/* Syntax highlighting styles (optional) */
.code-container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.code-box {
  max-height: 400px; /* Set your desired maximum height */
  overflow-y: auto; /* Enable vertical scroll if needed */
  padding: 20px;
  background-color: #1e1e1e;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 14px; /* Set your desired font size */
  text-align: left; /* Align text to the left */
}

/* Syntax highlighting styles (optional) */
.code-box pre {
  margin: 0;
  padding: 0;
}

.code-box code {
  display: block;
  padding: 10px;
  background-color: #1e1e1e;
  color: #dad3a9;
  font-size: inherit; /* Inherit font size from parent */
}
